.footerContainer {
  background-color: black;
  color: white;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContainer > p {
  margin: 0;
}

.footerContainer > p > a {
  text-decoration: none;
}