.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  /* background-color: #FFFFFF; */
  /* background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  
  //min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.FormLabel{
  font-size: 20px;
}

.FormLabelMuted{
  font-size: 16px;
}

.FormCheck{
  font-size: 14px;
}

.LoginCard{
  //min-width: 300px;
  width: 400px;
}


/* Teléfonos */
@media only screen and (max-width: 575px){
  .App-header > h1 {
    text-align: center;
  }
  
  h2 {
  text-align: center;}
  
  .LoginCard {
    width: 300px;
  }
}